{
  "openapi": "3.0.0",
  "info": {
    "title": "Markline Cloud API",
    "version": "1.0.0",
    "description": "A small, self-contained example API used to demo Markline's interactive API reference. Manage projects and trigger deployments."
  },
  "servers": [{ "url": "https://api.markline.dev" }],
  "tags": [
    { "name": "projects", "description": "Create and manage documentation projects." },
    { "name": "deployments", "description": "Build and publish a project." }
  ],
  "components": {
    "securitySchemes": {
      "bearer": { "type": "http", "scheme": "bearer", "bearerFormat": "JWT" }
    },
    "schemas": {
      "Project": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "prj_8Qa1zX", "description": "Unique project identifier." },
          "name": { "type": "string", "example": "acme-docs" },
          "plan": { "type": "string", "enum": ["free", "team", "enterprise"], "example": "team" },
          "domain": { "type": "string", "format": "hostname", "example": "docs.acme.com" },
          "createdAt": { "type": "string", "format": "date-time", "example": "2026-05-01T12:00:00Z" }
        }
      },
      "Deployment": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "dpl_5Kf2mB" },
          "projectId": { "type": "string", "example": "prj_8Qa1zX" },
          "status": { "type": "string", "enum": ["queued", "building", "ready", "error"], "example": "queued" },
          "url": { "type": "string", "format": "uri", "example": "https://acme-docs.markline.app" },
          "createdAt": { "type": "string", "format": "date-time", "example": "2026-06-03T09:30:00Z" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "example": "not_found" },
          "message": { "type": "string", "example": "No project with that id." }
        }
      }
    }
  },
  "security": [{ "bearer": [] }],
  "x-webhooks": {
    "project.archived": {
      "post": {
        "summary": "A project was archived",
        "description": "Sent when a project is archived and its deployments are taken offline.",
        "tags": ["projects"],
        "requestBody": {
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/Project" } }
          }
        }
      }
    }
  },
  "paths": {
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List projects",
        "description": "Return a paginated list of projects on your account.",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by lifecycle status.",
            "schema": { "type": "string", "enum": ["active", "archived"], "default": "active" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of projects to return (1–100).",
            "schema": { "type": "integer", "default": 20 }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of projects.",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Project" } }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create a project",
        "description": "Create a new documentation project. The slug is derived from the name.",
        "tags": ["projects"],
        "x-events": {
          "project.created": {
            "summary": "A new project was created.",
            "description": "Emitted once the project is provisioned and ready to receive deployments.",
            "payload": { "$ref": "#/components/schemas/Project" }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": { "type": "string", "description": "Human-readable project name.", "example": "acme-docs" },
                  "plan": { "type": "string", "enum": ["free", "team", "enterprise"], "default": "free" },
                  "settings": {
                    "type": "object",
                    "description": "Optional initial settings.",
                    "properties": {
                      "domain": { "type": "string", "format": "hostname", "example": "docs.acme.com" },
                      "private": { "type": "boolean", "default": false }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created project.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Project" } }
            }
          }
        }
      }
    },
    "/projects/{projectId}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get a project",
        "description": "Retrieve a single project by id.",
        "tags": ["projects"],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "The project's unique identifier.",
            "schema": { "type": "string", "example": "prj_8Qa1zX" }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested project.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Project" } }
            }
          },
          "404": {
            "description": "No project with that id.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Error" } }
            }
          }
        }
      }
    },
    "/projects/{projectId}/deployments": {
      "post": {
        "operationId": "createDeployment",
        "summary": "Trigger a deployment",
        "description": "Build the project and publish it. Returns immediately with a queued deployment.",
        "tags": ["deployments"],
        "x-events": {
          "deployment.succeeded": {
            "summary": "A deployment finished building and is live.",
            "payload": { "$ref": "#/components/schemas/Deployment" }
          },
          "deployment.failed": {
            "summary": "A deployment failed to build.",
            "payload": { "$ref": "#/components/schemas/Deployment" }
          }
        },
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "The project to deploy.",
            "schema": { "type": "string", "example": "prj_8Qa1zX" }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ref": { "type": "string", "description": "Git ref to build.", "default": "main", "example": "main" },
                  "production": { "type": "boolean", "description": "Promote to the production domain.", "default": false }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The queued deployment.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Deployment" } }
            }
          }
        }
      }
    }
  }
}
